<h2>Nuevo Artista</h2>

<form method="POST" action="/artistas/save">
  <label>Nombre:</label>
  <input type="text" name="nombre"><br>

  <label>País:</label>
  <input type="text" name="pais"><br>

  <label>Género:</label>
  <input type="text" name="genero"><br>

  <label>Año formación:</label>
  <input type="number" name="fecha_formacion"><br>

  <label>Foto (URL):</label>
  <input type="text" name="foto"><br>

  <button type="submit">Guardar</button>
</form>
