progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

#arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

#arriba.visible {
  display: block;
  opacity: 1;
}
