<h1>Nuevo préstamo</h1>

<form method="POST" action="/prestamo/nuevo">
  <input type="hidden" name="libro_id" value="<%= libro_id %>">

  <label>Nombre:</label>
  <input name="nombre_prestatario" required>

  <label>Fecha préstamo:</label>
  <input type="date" name="fecha_prestamo" required>

  <label>Fecha devolución:</label>
  <input type="date" name="fecha_devolucion" required>

  <button>Guardar</button>
</form>
