body {
  font-family: Arial, sans-serif;
  width: 60%;
  margin: 40px auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  background-color: #f8f8f8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
